/******************************************************************************)
(*                        col scheem 4                                        */
/* The "wikihow.com/Create-a-Simple-Web-Page-with-HTML" color scheem          */


/* standard color... */
.col4 ::-webkit-input-placeholder {
  color: dimgray;
}


.col4 h1,
.col4 h2,
.col4 h3,
.col4 h4,
.col4 h5,
.col4 h6,
.col4 p{
  color: inherit;
}

.col4 .centerRoundButtCommon{
  background-color: transparent;
}
.col4 .onOffButton,
.col4 .loopButt{
  outline-color: #BDBDBD;
}
.col4 .onOffButton,
.col4 .loopButt{
  background-color: #BDBDBD;
}

.col4 .grayOut{
    color: gray;
    background-color: lightgray;
}


/* oddballs */
.col4 .textareaStandard{
  background: #FFFDE7;
  border-color: #FFFDE7;
}

.col4 .textareaEdit{
  background: white;
}

.col4 .fullscreen{
  background-color: black;
}

.col4 .likeLink{
  background-color: transparent;
  color: blue;
}

.col4 .outerDialog{
  background-color: rgba(0, 0, 0, 0.5);
}

.col4 .helpText{
    color: gray;
}

.col4 .colorPicker{
  border-color: black;
}
.col4 .colorPickerSelected{
  border-color: #FFEB3B;
}






/* the background */
.col4 .backgroundColor,
.col4 .extraBorder{
  background-color: #ecebe8;
  color: #545454;
}
.col4 .backgroundColor a {
  color: lightgray;
}




/* regularButton */
.col4 .regularButton:focus,
.col4 .regularButton:hover,
.col4 .regularButton:active{
  outline-color: #E0E0E0; /*regularButton*/
}
.col4 .regularButton{
  background-color: #E0E0E0; /*regularButton*/
}






/* primaryColor */
.col4 .primaryColor,
.col4 .bgEasyRead {
  background-color: #ffffff;
  background: #ffffff;
  color: #545454;
}
.col4 .primaryColor a {
/*  color: white; */
}




/* secondaryColor */
.col4 .secondaryColor,
.col4 .areaParent > div,
.col4 .popUpSquare,
/*.col4 #donate,  only for this one */
.col4 .innerDialog {
  background-color: #ffffff;
  color: #545454;
}
li[isdirectory="true"]:not(:first-child) {
  border-top-color: #ffffff; /* secondaryColor */
}




/* accentColor1 */
.col4 .selected:hover, 
.col4 .currentLoop:hover, 
.col4 .currentMarker:hover, 
.col4 .currentStopMarker:hover,
.col4 .selected:active,
.col4 .currentLoop:active, 
.col4 .currentMarker:active, 
.col4 .currentStopMarker:active {  outline-color: #93b874;}  /* accentColor1 */

.col4 .accentColor1,
.col4 .selected,
.col4 .currentLoop,
.col4 .currentMarker,
.col4 .currentStopMarker,
.col4 .selected.important {
  background-color: #93b874; /* accentColor1 */
  color: white;
}
.col4 .play .secondsLeft,
.col4 .play .loopTimesLeft{
    color: #93b874; /* accentColor1 - IF GREEN ISH (or works for that... */ 
}


.col4 #donate:hover,
.col4 #donate:active {
  outline-color: #93b874;
}

/* accentColor2 */ 
.col4 .important:hover,
.col4 .important:active,
.col4 .special:hover,
.col4 .special:active{
  outline-color: #000;
}


.col4 .roundButt,
.col4 .roundButt:hover,
.col4 .roundButt:active, /* slå ihop dessa tre ovan, är itne dom onödiga? */
.col4 .selected.important {
  border-color: #000; /* accentColor2 */
}
.importantLeftLine {
  border-left-color: #000; /*accentColor2*/
}

.col4 .accentColor2,
.col4 .important {
  background-color: #000; /* accentColor2 */
}
.col4 .pause .secondsLeft,
.col4 .pause .loopTimesLeft{
    color: #000; /* accentColor2 - IF RED ISH... */ 
}


.important{
  color:#fff;
  text-shadow:#C17C3A 0 -1px 0; /* NOTISE: not the same color... */
}



.col4 #activePlayRegion{ /* note, overwriding...*/
  background-color: black;
}




/* accentColor3 */
.col4 .active:hover,
.col4 .active:active{
  outline-color: #F5F5F5; /* accentColor3 */
}

.col4 .accentColor3,
.col4 .active{
  background-color: #F5F5F5; /* accentColor3 */
  color: black;
}

.col4 .wait .secondsLeft,
.col4 .wait .loopTimesLeft{
  color: #F5F5F5; /* accentColor3 - IF YELLOW ISH... */ 
}


/* end "Anton & Irene" color scheeme */


/* Marker color section */
.col4 .markerColorAqua {	background-color: Aqua;	color: black; }
.col4 .markerColorBisque {	background-color: Bisque;	color: black; }
.col4 .markerColorChartreuse {	background-color: Chartreuse;	color: black; }
.col4 .markerColorCoral {	background-color: Coral;	color: black; }
.col4 .markerColorPink {	background-color: Pink;	color: black; }
.col4 .markerColorBurlywood {	background-color: Burlywood;	color: black; }
.col4 .markerColorDarkcyan {	background-color: Darkcyan;	color: black; }
.col4 .markerColorYellowgreen {	background-color: Yellowgreen;	color: black; }
.col4 .markerColorPeru {	background-color: Peru;	color: black; }
.col4 .markerColorViolet {	background-color: Violet;	color: black; }

/* only for this one */ 
#markerSection {
  padding-left: 4px; 	
}

