
#dataSongTable{
	border-collapse: collapse;
	text-align: left;
	margin: 0;
}

#dataSongTable tr{
	border-bottom: solid 1px lightgray;
}

#dataSongTable td, #dataSongTable th{
	white-space: nowrap;
	padding: 10px 5px;
}

#dataSongTable th {
	font-size: 14px;
	font-weight: bold;
}


/* --- */


#dataSongTable{
	border-collapse: collapse;
	text-align: left;
	margin: 0;
}

#dataSongTable tr{
	border-bottom: solid 1px lightgray;
}

#dataSongTable td, #dataSongTable th{
	white-space: nowrap;
	padding: 10px 5px;
}

#dataSongTable th {
	font-size: 14px;
	font-weight: bold;
}

/*
​table tr {
    border-bottom: 1px solid black;
}​*/

#dataSongTable th {
	position: sticky;
	top: 0;
}


#dataSongTable td:first-child, #dataSongTable th:first-child {
	z-index: 1;
	position: sticky;
	left: 0;
}

#dataSongTable th:first-child {
	z-index: 2;
}
