#superSongTable{
	border-collapse: collapse;
	text-align: left;
	margin: 0;
}

#superSongTable tr{
	border-bottom: solid 1px lightgray;
}

#superSongTable td, #superSongTable th{
	white-space: nowrap;
	padding: 10px 5px;
}

#superSongTable th {
	font-size: 14px;
	font-weight: bold;
}

/*
​table tr {
    border-bottom: 1px solid black;
}​*/

.sticky-table-head th{
	position: sticky;
	top: 0;
}


#superSongTable td:first-child, #superSongTable th:first-child {
	z-index: 1;
	color: pink;
	position: sticky;
	left: 0;
}